name: 1. Build and Update Main Cache

on:
  push:
    branches:
      - main
env:
  GHCR_REPO: ghcr.io/${{ github.repository }}

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.GHCR_REPO }}
          tags: |
            type=semver,pattern={{version}}
            type=ref,event=branch

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          provenance: false # Optional: disables SBOMs if not needed
          cache-from: type=gha
          cache-to: type=gha,mode=max